* {
    background-color: lightgrey;
    color: black;
    font-family: sans-serif;
}

#site_title {
    color: black;
    text-align: center;
}

#nav_item {
    float: left;
}

#nav_link {
    text-decoration: none;
    display: block;
    padding: 12px;
    background-color: lightblue;
    color: black;
    font-weight: 900;
    font-size: large;
}

#nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

#nav_item #nav_text {
    display: block;
    color: #003366;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} 

#nav_item a:hover{
    background-color: darkblue;
    color: white;
}

#thanks{
    text-align: center;
}

#explanation-p{
    margin-left: 10%;
    margin-right: 10%;
    font-size: 20px;
}

#Journal-Head{
    text-align: center;
}

#sections{
    text-align: left;
}

.email{
    color: red;
}

footer{
    color: white;
    text-align: center;
}

#Info{
    list-style-type: none;
}

footer .container{
    background-color: black;
}

#profilePic{
    max-width: 18%;
    max-height: 18%;
    float: left;
    padding: 80px;
    padding-top: 0px;
    padding-bottom: 0px;
}

#webPic{
    max-width: 45%;
    max-height: 45%;
    float: right;
    padding-left: 15px;
}

#dino{
    max-width: 30%;
    max-height: 30%;
    float: left;
    padding-right: 30px;
}

#full_stylizer{
    max-width: 1080px;
    align-self: center;
    margin-left: 25%;
    margin-right: 25%;
}